include ../data/webdata
include ../mixins/mixins
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{websiteName}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.8.55/css/materialdesignicons.min.css")
        link(rel="stylesheet", href="assets/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="assets/css/main.css")
        link(rel="stylesheet", href="assets/css/slick.css")
        link(rel="stylesheet", href="assets/css/slick-theme.css")
    body
        block header
            include ../partials/navbar
        block main
        block footer
            include ../partials/footer
        script(src="assets/js/jquery.min.js")
        script(src="assets/bootstrap/js/bootstrap.min.js")
        script(src="assets/js/isotope.pkgd.min.js")
        script(src="assets/js/main.js")
        script(src="assets/js/slick.min.js")
        